#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug.xcconfig"
#include "Generated.xcconfig"
GCC_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = NO
GCC_WARN_DEPRECATED_DECLARATIONS = NO
CLANG_WARN_DEPRECATED_DECLARATIONS = NO
GCC_WARN_UNUSED_VARIABLE = NO
CLANG_WARN_UNUSED_VARIABLE = NO
GCC_WARN_SWITCH = NO
CLANG_WARN_SWITCH = NO
SWIFT_SUPPRESS_WARNINGS = YES
